.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
  }
  /* For the page wrapper */
.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #a8e6cf, #dcedc1);
  position: relative;
}
